{% extends 'base.html.twig' %}

{% block title %}Édition de la Présentation{% endblock %}
{% block body %}
<link rel="stylesheet" href="/assets/stylesheets/presentation.css">
{% if app.user and app.user.droitUtil == 1 %}
    <form method="post" action="{{ path('app_presentation_edit') }}">
        {{ form_start(form) }}
        <div class="introduction-wrapper" style="margin-left: 10%;">
            <h1 class="introduction-title-edit">Édition de la Présentation</h1>
            <div class="introduction-container">
                {{ form_row(form.textePresentation, {'attr': {'class': 'introduction-text-edit'}}) }}
            </div>
        </div>
        <div class="cards-wrapper">
            <div class="card-content">
                <div class="card-circle">
                    <img src="/assets/img/presentation/experience.png" alt="experience" class="card-img-experience">
                </div>
                <div class="card-text-container">
                    <h2 class="ca rd-title">EXPÉRIENCE</h2>
                        {{ form_row(form.experienceText) }}
                </div>
            </div>
            <div class="card-content">
                <div class="card-circle">
                    <img src="/assets/img/presentation/experience.png" alt="experience" class="card-img-experience">
                </div>
                <div class="card-text-container">
                    <h2 class="card-title">COMPÉTENCES</h2>
                    <div class="card-text-container">
                        {{ form_row(form.skillsText) }}
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-circle">
                    <img src="/assets/img/presentation/experience.png" alt="experience" class="card-img-experience">
                </div>
                <div class="card-text-container">
                    <h2 class="card-title">CERTIFICATIONS</h2>
                    <div class="card-text-container">
                        {{ form_row(form.certificationsText) }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="submit-button">Enregistrer</button>
        {{ form_end(form) }}       
    </form>
{% else %}
    <p>Vous n'avez pas le droit de modifier la présentation.</p>
{% endif %}
{% endblock %}
    