{% extends 'base.html.twig' %}

{% block title %}Avis
{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Document</title>
			<link rel="stylesheet" href="assets/stylesheets/avis.css">
		</head>
		<body>
			<div class="containerGeneral">
				<h1>Les Avis Clients</h1>
				{% if nbAvis == 0 %}
				<h4>Il n'y a aucun avis pour le moment</h4>
				{% else %}
				<h4>Avec plus de {{nbAvis - 1}} avis</h4>
				{% endif %}

				<div style="margin-top:15px">
					{% for i in 1..5 %}
						{% if i <= moyAvis %}
							<img src="assets/img/avis/etoilePleine.png" style="width:2rem; height:2rem;" alt="" id="2">
						{% else %}
							{% if (i - moyAvis) == 0.5 %}
								<img src="assets/img/avis/etoileMoitie.png" style="width:2rem; height:2rem;" alt="" id="2">

							{% else %}
								<img src="assets/img/avis/etoileVide.png" style="width:2rem; height:2rem;" alt="" id="2">
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				<div class="boxAvis">
					{% for avis in lesAvis %}
						{% if avis.getNoteAvis >= 0 %}
							<div class="avis">
								<div class="photoProfile">
									<div class="boxImgProfile">
										<img src="assets/img/avis/user.png" class="imgProfile" alt="photoUtilisateur">
									</div>
									{% if app.user and app.user.droitUtil == 1 %}
										<a href={{ path('app_suppr_avis', {'value' : avis.id} ) }} style="text-decoration: none; position: relative;">
											<div class="supprimer ">x</div>
										</a>
										{% else %}

									{% endif %}
								</div>
								<div class="avisContent">
									<div class="prenomBox">
										<h3 class="prenom">{{ avis.getIdUtilAvis.getNomUtil }}
											{{ avis.getIdUtilAvis.getPrenomUtil }}</h3>
										<div class="etoiles">
											{% for i in 1..5 %}
												{% if i <= avis.getNoteAvis %}
													<img src="assets/img/avis/etoilePleine.png" style="width:1.5rem; height:1.5rem;" alt="" id="2">
												{% else %}
													{% if (i - avis.getNoteAvis) == 0.5 %}
														<img src="assets/img/avis/etoileMoitie.png" style="width:1.5rem; height:1.5rem;" alt="" id="2">

													{% else %}
														<img src="assets/img/avis/etoileVide.png" style="width:1.5rem; height:1.5rem;" alt="" id="2">
													{% endif %}
												{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="titreAvis">{{ avis.getTitreAvis }}</div>
									<div class="commentaireAvis">{{ avis.getTexteAvis }}</div>
									<div class="commentaireAvis" style="margin-top:30px">
										<h3>Date :
										</h3>
										{{ avis.getDateAvis|date("d-m-Y") }}</div>

								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="boxTitreAvis">
					<div class="boxImgProfile" style="background-color: var(--color-principale);">
						<img src="assets/img/avis/avis-positif.png" width="70%" height="70%" alt="photoUtilisateur">
					</div>
					<h2>Votre avis nous intéresse :</h2>
				</div>

				<div class="formAvis">
					{% if app.user %}
						<div class="formHead">
							<div class="formHeadComponent">
								<div class="boxImgProfile">
									<img src="assets/img/avis/user.png" class="imgProfile" alt="photoUtilisateur">
								</div>
								<h3>
									{% if app.user %}
										{{ user.getNomUtil }}
										{{ user.getPrenomUtil }}
									{% else %}
										Inconnu
									{% endif %}
								</h3>

							</div>
							<div class="boxEtoiles">
								<div class="etoiles">
									<img src="assets/img/avis/etoileVide.png" class="etoile" alt="" id="1">
									<img src="assets/img/avis/etoileVide.png" class="etoile" alt="" id="2">
									<img src="assets/img/avis/etoileVide.png" class="etoile" alt="" id="3">
									<img src="assets/img/avis/etoileVide.png" class="etoile" alt="" id="4">
									<img src="assets/img/avis/etoileVide.png" class="etoile" alt="" id="5">
								</div>

								<div class="hitboxs">
									<div class="hitbox" id="1"></div>
									<div class="hitbox" id="2"></div>
									<div class="hitbox" id="3"></div>
									<div class="hitbox" id="4"></div>
									<div class="hitbox" id="5"></div>
									<div class="hitbox" id="6"></div>
									<div class="hitbox" id="7"></div>
									<div class="hitbox" id="8"></div>
									<div class="hitbox" id="9"></div>
									<div class="hitbox" id="10"></div>
								</div>
							</div>
						</div>
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<div class="boxSubmit">
							<input type="submit" value="ENVOYER" class="btnSubmit">
							<div class="btnSubmit shadowBoxSubmit"></div>
						</div>
						{{ form_end(form) }}
					{% else %}
						Veuillez vous connecter pour partager un avis.
					{% endif %}

				</div>
			</div>
		</body>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="js/avis.js"></script>
	</html>
{% endblock %}

