
{% block body %}

<link rel="stylesheet" href="/assets/stylesheets/presta.css">

<div class="titreForm">
    <h1>Ajouter une prestation</h1>
</div>

<div class="form-container">
{{ form_start(prestaForm)}}
    <div class="textbox">
    {{ form_row(prestaForm.libPrestation) }}
    {{ form_row(prestaForm.descPrestation) }}
    {{ form_row(prestaForm.image) }}
    </div>
    <div class="numbers">
    {{ form_row(prestaForm.prixHT)}}
    {{ form_row(prestaForm.prixTTC)}}
    {{ form_row(prestaForm.mainOeuvre) }}
    {{ form_row(prestaForm.dureePrestation)}}
    </div>

    <button type="submit" class="confirmAjout">Ajouter</button>
{{ form_end(prestaForm) }}
</div>

<button class="cancelBtn" onclick="window.location.href = '/prestation'">Annuler</button>

{% endblock %}