<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="assets/stylesheets/base.css">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!DOCTYPE html>
	</body>
</html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bienvenue</title>
	</head>
	<body>
		<header>
			<a href="{{ path('accueil') }}" class="a-img">
				<img src="assets/img/navbar/logo.svg" class="logoImg">
			</a>
			<div class="nav-header">

				<a href="{{ path('accueil') }}" class="choix-header">
					<div class="cercle"><img src="assets/img/navbar/home.svg" alt="Accueil" class="icone"></div>
					<div class="header-text">Accueil</div>
				</a>

				<a href="{{ path('presentation') }}" class="choix-header">
					<div class="cercle"><img src="assets/img/navbar/presentation.svg" alt="Présentation" class="icone"></div>
					<div class="header-text">Présentation</div>
				</a>

				<a href="{{ path('prestation') }}" class="choix-header">
					<div class="cercle"><img src="assets/img/navbar/prestation.svg" alt="Prestation" class="icone"></div>
					<div class="header-text">Prestation</div>
				</a>


				<div class="boxJaune">

					<a href="{{ path('avis')}}" class="choix-header">
						<div class="cercle cercle-Blanc"><img src="assets/img/navbar/avis.svg" alt="Avis" class="icone"></div>
						<div class="header-text">Avis</div>
					</a>

					<a href="{{ path('contact') }}" class="choix-header">
						<div class="cercle cercle-Blanc"><img src="assets/img/navbar/contact.svg" alt="contact" class="icone"></div>
						<div class="header-text">Contacter</div>
					</a>

				</div>
			</div>

			<div class="compte">
				<div class="logo-account">
					<a href="">
						<div class="choix-header">
							<div class="cercle cercle-Blanc" style="margin-right: 5px;"><img src="assets/img/navbar/account.svg" alt="contact" class="icone"></div>
							<div class="fleche"><img src="assets/img/navbar/fleche.svg" alt="" style="width: 20px;"></div>
						</div>
					</a>

				</div>
				{% if not app.user %}
				<a href="{{ path('login') }}">
					<div class="boutonM bouton-blanc">
						<div class="header-text">Connexion</div>
					</div>
				</a>
				<a href="{{ path('register') }}">
					<div class="boutonM ">
						<div class="header-text">S'inscrire</div>
					</div>
				</a>
				{% endif %}
				{% if app.user %}
				<a href="{{ path('app_logout') }}">
					<div class="boutonM bouton-blanc">
						<div class="header-text">Déconnexion</div>
					</div>
				</a>
				{% endif %}
			</div>
		</header>
		<script src="script.js"></script>
	</body>
</html>
{% block body %}{% endblock %}


<footer>
	<div class="footer-choix">
		<a href="#">Conditions d'utilisation</a>
		<a href="{{ path('app_confidentialite') }}">Confidentialité</a>
		<a href="#">Cookies</a>
	</div>
	© 2023-2024, Chauda coorp.
</footer></body></html>

